body {
  font-family: 'Vidaloka', serif;
}
body {
  background-image: url("../images/cupcakecrop.jpg");
  background-attachment: fixed;
  background-position: left;
  }
  h1 {
    color:#FF69B4;
    text-align: center;
    font-size: 75px;
  }
  
